.header {
  background-color: #5155f9;
  color: white;
  padding: .2em 2em;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-decoration-color: #f00b51;
}

.info {
  color: gray;
  padding-left: .5em;
  padding-top: .25em;
  position: absolute;
}

.screen {
  display: flex;
  margin: 2em 5em 5em 2em;
  width: 75%;
}

.chatbox {
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
}

.text-container {
  padding-left: 2em;
  padding-top: 2em;
  width: 75%;
}

#text-input {
  width: 50%;
}
