.users {
  border-right: 2px solid #f00b51;
  flex-basis: 15%;
}

.users ul {
  list-style: none;
}

.users ul li::before {
  content: "\2022";
  color: #0dd298 ;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  margin-left: -1em;
  vertical-align: middle;
  width: 1em;
}